<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>VoidBR</vendor>
  <vendor_url>https://voidbr.org</vendor_url>

  <action id="org.voidbr.ai.helper">
    <description>Executar uma ação confirmada no VoidBR AI</description>
    <message>É preciso autenticar para o VoidBR AI executar a ação que você confirmou</message>
    <icon_name>help-browser</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/voidbr-ai/voidbr-ai-helper</annotate>
  </action>
</policyconfig>
